@font-face {
    font-family: 'Marimpa';
    src: url("/fonts/Marimpa.woff2") format('woff2'),
        url("/fonts/Marimpa.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marimpa';
    src: url("/fonts/Marimpa.woff2") format('woff2'),
        url("/fonts/Marimpa.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 9pt';
    src: url("/fonts/DMSans-9ptItalic.woff2") format('woff2'),
        url("/fonts/DMSans-9ptItalic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 9pt';
    src: url("/fonts/DMSans-9ptRegular.woff2") format('woff2'),
        url("/fonts/DMSans-9ptRegular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/Inter-Regular.woff2") format('woff2'),
        url("/fonts/Inter-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/Inter-Italic.woff2") format('woff2'),
        url("/fonts/Inter-Italic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url("/fonts/SpaceGrotesk-Light.woff2") format('woff2'),
        url("/fonts/SpaceGrotesk-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("/fonts/Satoshi-Regular.woff2") format('woff2'),
        url("/fonts/Satoshi-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("/fonts/Satoshi-Medium.woff2") format('woff2'),
        url("/fonts/Satoshi-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("/fonts/Satoshi-Bold.woff2") format('woff2'),
        url("/fonts/Satoshi-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Italic.woff2') format('woff2'),
        url('Satoshi-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Black.woff2') format('woff2'),
        url('Satoshi-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-MediumItalic.woff2') format('woff2'),
        url('Satoshi-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-LightItalic.woff2') format('woff2'),
        url('Satoshi-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-BoldItalic.woff2') format('woff2'),
        url('Satoshi-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-BlackItalic.woff2') format('woff2'),
        url('Satoshi-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}