$base-red:#FF0000;
$base-pink:pink;
$base-purple:#6E0DD0;

$base-black:#302f2f00;
$base-white: #ebe7e7;

// Loading Screen Colors
$base-background:#2b0006;
$base-background-small:#272041;
$base-text:#7f5cf3;
$base-border:#693879;